@import "tailwindcss";

@layer base {
  button:enabled {
    cursor: pointer;
  }
}

@layer components {
  .tw_body_px {
    @apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12;
  }
}

/* Disable all animations when user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  :root {
    @apply !scroll-auto;
  }

  * {
    @apply !animate-none !transition-none;
  }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction*/
@theme {
  --breakpoint-sm: 30em; /* Mobile: 480px */
  --breakpoint-md: 48em; /* Tablet: 768px */
  --breakpoint-lg: 64em; /* Laptop: 1024px */
  --breakpoint-xl: 90em; /* Desktop: 1440px */

  --color-accent: #ff5733;
  --color-canvas: #0d0402;
  --color-dim: #ebd5d19e;

  --font-display: var(--font-domine);
  --font-sans: var(--font-outfit);

  --spacing: 0.25rem;

  /* Related Article Date and Tags, Author Name and Title */
  --text-label-2: round(clamp(0.75rem, 0.7321rem + 0.0893vw, 0.8125rem), 1px);
  --text-label-2--line-height: 1rem;

  /* Footer Navigation Links, Article Date and Tags, Button Labels */
  --text-label-1: round(clamp(0.8125rem, 0.7768rem + 0.1786vw, 0.9375rem), 1px);
  --text-label-1--line-height: round(
    clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem),
    1px
  );

  /* Body */
  --text-base: round(clamp(1rem, 0.9821rem + 0.0893vw, 1.0625rem), 1px);
  --text-base--line-height: round(
    clamp(1.5rem, 1.4286rem + 0.3571vw, 1.75rem),
    1px
  );

  /* Subheading */
  --text-h3: round(clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem), 1px);
  --text-h3--line-height: round(
    clamp(1.375rem, 1.3393rem + 0.1786vw, 1.5rem),
    1px
  );

  /* Heading Level 2 */
  --text-h2: round(clamp(1.5rem, 1.4286rem + 0.3571vw, 1.75rem), 1px);
  --text-h2--line-height: round(
    clamp(1.75rem, 1.6786rem + 0.3571vw, 2rem),
    1px
  );

  /* Heading Level 1 */
  --text-h1: round(clamp(2rem, 1.7143rem + 1.4286vw, 3rem), 1px);
  --text-h1--line-height: round(
    clamp(2.25rem, 1.9643rem + 1.4286vw, 3.25rem),
    1px
  );

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  --animate-fade-in: fadeIn var(--default-transition-duration)
    var(--default-transition-timing-function);
}
